body {
    background-color: black;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

h1 {
    margin-top: 0px;
}

#gmodConnection {
    color: red;
}

#minecraftConnection {
    color: red;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.wrapper-item {
    width: 300px;
    text-align: center;
}

.data-field {
    display: flex;
    justify-content: space-between;

    width: 150px;
    margin-top: 5px;
}

.entity-data {
    border-color: rgb(15, 15, 15);
    border-style: solid;
    border-radius: 30px;
    padding: 8px;
    background-color: rgb(15, 15, 15);
    color: white;
    margin-bottom: 5px;
    width: 150px;
}

.logger {
    width: 500px;
    color: white;
    text-align: center;

    border-color: rgb(15, 15, 15);
    border-style: solid;
    border-radius: 30px;
    padding: 30px;
    height: 657px;
    background-color: rgb(15, 15, 15);
}

#log {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    width: 500px;
    height: 657px;

    overflow: hidden;

    text-align: left;
}

.logItem {
    padding: 0px;
}